/* Accordion styling */
/* Accordion container */
.accordion {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1024px;
    width: 100%; /* Makes sure the accordion takes full width within its container */
}

/* Accordion details */
.accordion details {
    border: 1px solid black;
    padding: 1em;
    margin: 1em 0;
    width: 100%; /* Ensures accordion items are justified to the left within the accordion */
    transition: width 0.3s ease;
    border-radius: 2.5px;
}

.accordion details[open] {
    width: 100%;
}

/* Accordion summary */
.accordion summary {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 0.5em;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.4;
    border-radius: 2.5px;
    position: relative; /* Ensure proper positioning for icons */
}

/* Marker styling */
.accordion summary::before {
    font-family: "Font Awesome 5 Free";
    content: "\f067"; /* Plus icon */
    font-weight: 900;
    margin-right: 0.5em;
    transition: transform 0.3s ease, content 0.3s ease;
}

/* Change the marker and background when details are open */
.accordion details[open] summary::before {
    content: "\f068"; /* Minus icon */
}

.accordion details[open] summary {
    background-color: #ddd;
}

.accordion details .summary-text {
    margin-right: 5vw;
}

/* Accordion summary thumbnail */
.accordion .summary-thumbnail {
    width: 10vw;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    align-self: flex-start;
    border-radius: 2.5px;
}

/* Hide the thumbnail when details are open */
.accordion details[open] .summary-thumbnail {
    visibility: hidden;
    height: 1em;
}

/* Accordion details content */
.accordion .details-content {
    display: grid;
    grid-template-columns: 45% 45%; /* Two columns: Text 45%, Image 45% */
    align-items: start;
    padding: 0.5em; /* Adjust padding to prevent overflow */
    background-color: #f9f9f9;
    gap: 10%; /* 10% gap between the two columns */
    width: 100%;
}

.accordion .details-text {
    margin: 0;
    font-size: 1.1em;
}

.accordion .details-text p {
    margin: 0.5em 0;
}

.accordion .details-figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.accordion .details-figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
