/* tagline */
.tagline {
    margin: 1em 0;
    padding: 0 2em;
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25em;
    color: var(--accent-color-1);
    text-align: center;
}

/* Accordion container */
.accordion {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    max-width: 1200px;
    min-width: 900px;
    display: grid;
    justify-items: center;
}

/* Accordion details */
.accordion details {
    margin: 1em;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    transition: max-width 0.5s ease;
    border-radius: 0.3rem;
}

.accordion details:first-of-type {
    margin-top: 0;
}

.accordion details[open] {
    max-width: 1200px;
    transition: max-width 0.5s ease;
}

.accordion details:not([open]) {
    transition: max-width 0.5s ease;
}

details summary {
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
    font: 600 18px/22px 'Raleway', arial, sans-serif;
    color: #121212;
}

details summary:focus {
    outline: none !important;
}


@keyframes details-show {
    from {
        opacity: 0;
        transform: var(--details-translate, translateY(-0.5em));
    }
}

details[open]>*:not(summary) {
    animation: details-show 150ms ease-in-out;
}


/* Accordion summary */
.accordion summary {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    line-height: 1.4;
    column-gap: 0.3rem;
    scroll-margin-top: 0rem;
}

.summary-icon {
    display: none;
}

.close-details {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    background-color: var(--link-1);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--another-color);
    background-image: linear-gradient(to bottom right, #cfaec7, #ebb99d);
}

.close-details:hover, .close-details:active {
    color: var(--accent-color-2);
}

.accordion details summary::before {
    /* content: '▶'; */
    display: inline-block;
    padding: 0;
    margin-right: 1em;
    font-size: 1.5rem;
    color: var(--main-color);
}

/* Closed marker */
.accordion details:not([open]) summary::before {
    content: '▶';
}

/* Open marker */
.accordion details[open] summary::before {
    content: '▼';
}

.accordion details[open] summary {
    background-color: #a05e8f;
    background-image: linear-gradient(to bottom right, #a05e8f, #d8743a);
}

.accordion details[open] summary:hover {
    background-color: #cfaec7;
    background-image: linear-gradient(to bottom right, #cfaec7, #ebb99d);
}

.accordion details:not([open]):hover summary {
    background-color: #a05e8f;
    background-image: linear-gradient(to bottom right, #a05e8f, #d8743a);
}


/* Summary text */
.accordion .summary-text {
    margin: 0;
    grid-column: 2;
    align-self: center;
}

/* Accordion summary thumbnail */
.accordion summary img {
    width: 164px;
    height: auto;
    object-fit: cover;
    margin-left: 0.5rem;
    border: 1px solid black;
    grid-column: 3;
    align-self: center;
}

/* Hide the thumbnail when details are open */
.accordion details[open] summary img {
    visibility: hidden;
}

/* Accordion details content */
.accordion .details-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    column-gap: 2rem;
    width: 100%;
}

.accordion .details-text {
    margin: 0;
    font-size: 1.1rem;
}

.accordion .details-text h2 {
    /* color: var(--main-color); */
    /* line-height: 1.2em; */
}

.accordion .details-figure {
    display: block;
    width: 100%;
    border: 0.5px solid #999;
    margin: 1.5rem 0 0 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
}

/************      Figcaption styling      *******************/
.accordion figcaption:empty {
    padding: 0;
}

.accordion figcaption {
    padding: 1rem;

    p {
        font-family: "Lato", sans-serif;
        font-size: 0.8rem;
        line-height: 1.5em;
        padding: 0;
        margin: 0;
        margin-top: 1em;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.5rem;
    }


}

.accordion figcaption:empty {
    padding: 0;
}


.accordion figcaption {
    padding: 1rem;

    p {
        font-family: "Merriweather", serif;
        font-size: 0.9rem;
        line-height: 1.3rem;
        padding: 0;
        margin: 0;
        margin-top: 1em;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.5em;
        text-align: left;
        margin: 0;
    }

}


/* Media queries for responsiveness */
@media screen and (max-width: 800px) {

    .tagline {
        font-size: 1.25rem;
        line-height: 1.25em;
        padding: 0 1em;
    }

    .accordion {
        padding: 0 0.5rem;
        max-width: 100vw;
        min-width: 100vw;
    }

    .accordion summary::before {
        display: none !important;
    }

    .accordion summary::marker {
        display: none;
    }

    .accordion summary {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
        padding: 0;
        margin: 0;
        column-gap: 0;
        row-gap: 0;
        list-style: none;
    }

    .summary-icon {
        display: revert;
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        color: var(--hover-1);
        margin: 0.5rem 0;
        padding: 0;
        width: 3rem;
        height: 3rem;
    }

    .accordion summary img {
        width: 100%;
        /* max-width: 164px; */
        grid-column: 1;
        /* Move the image to the top */
        grid-row: 1;
        /* margin: 1rem auto 1.5rem auto; */
        margin: 0;
        padding: 0;
        justify-self: center;
        border: none;
    }

    .accordion details[open] summary img {
        display: none;
    }

    .accordion .summary-text {
        grid-column: 1;
        /* Move text below the image */
        grid-row: 2;
        margin: 1em 1em 0em 1em;
        /* Tighten space below the text */
        font-size: 1.4rem;
        line-height: 1.5em;
        /* padding: 1em; */
    }

    .accordion details {
        display: grid;
        width: 100%;
        border: 0.1rem solid black;
        margin: 2em 0;
        border-radius: 0.15rem;
    }

    .accordion details:first-of-type {
        margin-top: 0;
    }

    ;

    .accordion .details-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        padding: 0.5rem 1rem 0.5rem 1rem
    }

    .accordion .details-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        padding: 0.5rem 1rem;
        grid-template-areas:
            "details-text"
            "details-figure";
    }

    .accordion .details-text {
        grid-area: details-text;
    }

    .accordion .details-figure {
        grid-area: details-figure;
    }

    .accordion .details-content ul {
        padding-left: 1em;
    }

    .accordion .details-figure {
        /* grid-column: 1; */
        /* grid-row: 2; */
        margin: 2rem auto 1rem auto;
        text-align: left;
    }

    .accordion .details-text {
        /* grid-column: 1; */
        /* grid-row: 1; */
        margin: 0;
    }

    .accordion .details-figure img {
        width: 100%;
        justify-self: center;
        /* Center the image within the figure */
    }
}

@media (max-width: 480px) {
    .accordion .summary-text {
        font-size: 0.9rem;
        padding: 0;
    }

    .accordion .details-text {
        font-size: 1rem;
    }
}