/* Accordion styling */
/* Accordion container */
.accordion {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    max-width: 1024px;
    width: 100%;
    /* border: 1px solid red; */
    /* Makes sure the accordion takes full width within its container */
}

/* Accordion details */
.accordion details {
    /* border: 1px solid black; */
    /* border: 1px dotted green; */
    /* padding: 1rem; */
    margin: 0.5rem 0;
    width: 100%;
    /* background-color: #ddd; */
    /* Ensures accordion items are justified to the left within the accordion */
    transition: width 0.3s ease;
    border-radius: 0.5rem;
}

.accordion details:not([open]):hover {
    background-color: #999;
}

.accordion details[open] {
    width: 100%;
    /* padding: 0.5rem; */
}

/* Accordion summary */
.accordion summary {
    /* border: 1px dashed orange; */
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    font-weight: bold;
    /* background-color: #bfa8b9; */
    padding: 1rem 1.5rem;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.4;
    border-radius: 0.3rem;
    /* position: relative; */
    /* Ensure proper positioning for icons */
}

.accordion summary img {
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: #999;
}

/* Marker styling */
.accordion summary::before {
    /* font-family: "Font Awesome 5 Free"; */
    /* content: "\f067"; */
    content: "+";
    font-size: 3rem;
    font-weight: 900;
    margin-right: 1.5rem;
    transition: transform 0.3s ease, content 0.3s ease;
}

.accordion details[open] summary {
    background-color: #999;
    border-radius: 0.3rem 0.3rem 0 0;
}

.accordion details[open] summary:hover {
    background-color: #ddd;
}

/* Change the marker and background when details are open */
.accordion details[open] summary::before {
    /* content: "\f068"; */
    content: "-";
}

.accordion details .summary-text {
    margin-right: 5vw;
}

/* Accordion summary thumbnail */
.accordion summary img {
    width: 10vw;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    align-self: flex-start;
    border-radius: 0.2rem;
}

/* Hide the thumbnail when details are open */
.accordion details[open] summary img {
    visibility: hidden;
    height: 1rem;
}

/* Accordion details content */
.accordion .details-content {
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    gap: 10%;
    width: 100%;
}

.accordion .details-text {
    margin: 0;
    font-size: 1.1rem;
}

.accordion .details-text p {
    margin: 0.5rem 0;
}

.accordion .details-text h2 {
    color: #df4009;
}

.accordion .details-figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.accordion .details-figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .accordion .details-content {
        grid-template-columns: 50% 50%;
        /* Adjust grid for smaller screens */
        gap: 0;
    }
}

@media (max-width: 768px) {
    .accordion .details {
        width: 100%;
    }

    .accordion .details-content {
        grid-template-columns: 100%;
        /* Stack content vertically */
        gap: 0;
    }

    .accordion .details-figure {
        justify-content: center;
    }

    .accordion .details-figure img {
        width: 100%;
        margin-top: 1rem;
        max-width: 90rem;
    }
}