.faq {

    h1,
    h2,
    h3,
    p {
        line-height: 1em;
    }

    h2 {
        font-family: Merriweather, serif;
        /* color: var(--default-text); */
        font-weight: 800;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }

    p:first-of-type {
        /* margin-top: 0em; */
    }

    p {
        font-size: 1rem;
        font-family: Lato, sans-serif;
        margin: 1em 0 0 0;
        padding: 0;
        line-height: 1.5em;
    }

    details:first-of-type {
        /* margin-top: 0; */
    }

    details {
        margin-top: 1rem;
    }

    details>summary {
        /*   background-color: #999; */
        cursor: pointer;
    }

    details>summary>* {
        display: inline;
    }

    summary::marker {
        color: var(--main-color);
        font-size: 1.5em;
    }

    summary {
        list-style-position: inside;
        /* padding-left: 1rem; */
    }

    details>div {
        margin-left: 1.5rem;
    }
}