/* Global styling */
:root {
    --rem: 16px;
    --default-text: #222;
    --main-color: #df4009;
    --accent-color-1: #1a705b;
    --accent-color-2: #893673;
    --accent-color-3: #a05e8f;
    --nav-reverse: #fff;
    --hover-1:  #d5916b;
    --hover-2: #ba4909;
    --hover-4: #f5dcce;
    --hover-3: #1a705b;
    --link-1: #cf520a;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    line-height: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

/**********   Gradients   *******************/
.gradient-blue-green {
    background-color: #1a7030;
    background-image: linear-gradient(to bottom right, #4b5ecd, #1a7030);
}

.gradient-red-orange {
    background-color: #893673;
    background-image: linear-gradient(to bottom right, #893673, #cf520a);
}

.gradient-box {
    padding: 5px 10% 15px 10%;
    border-radius: 5px;
}

.header-mobile {
    display: none;
}

.header-screen {
    margin-top: 0.3rem;
}


/***********   Default Text Styling   *****************/
p {
    margin-top: 1rem;
    color: var(--default-text);
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: 0;
}

h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul {
    margin-top: 0;
}

h1, h2, h3 {
    font-family: "Merriweather", Georgia, serif;
    color: var(--default-text);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.2rem 0 0 0;
    line-height: 1.5em;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}


h2 {
    font-size: 1.5rem;
    font-weight: 900;
}


h3 {
    font-size: 1.3rem;
    font-weight: 700;
    font-style: italic;
}

ul li:first-child,
ol li:first-child {
    margin-top: 0; /* Applies only to the first li in the ul */
}

ul,
ol {
    list-style-position: outside;
    margin: 1em 0;
    padding-left: 2em;
}

ul {
    list-style-type: disc;
}

li {
    margin: 0.5em;
}


/***********   Header Image   *********************/

.image-fluid {
    margin: 0;
    max-width: 100%;
}

.image-fluid-banner {
    margin: 0;
    max-width: 100%;
}


/****************    Footer styling   ******************/
footer {
    color: var(--nav-reverse);
    background-color: var(--link-1);
    font-size: 1rem;
    text-align: center;
    padding: 1rem 3%;
    margin-top: 1.5rem;
    width: 100%;
}

.footer-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--nav-reverse);
    text-align: center;
}

.footer-tagline {
    color: var(--nav-reverse);
    text-align: center;
}

footer a:link {
    color: var(--nav-reverse);
    text-decoration: underline;
}

footer a:visited {
    color: var(--nav-reverse);
    text-decoration: underline;
}

footer a:hover {
    color: var(--hover-4);
    text-decoration: underline;
}

footer a:active {
    color: var(--hover-4);
    text-decoration: underline;
}

@media screen and (max-width: 1199px) {
    body {
        padding: 0 1vw;
    }
}


/* Media queries go here for now – home page only */
@media screen and (max-width: 750px) {
    body {
        padding: 0;
    }
    
    .header-mobile {
        display: block;
        max-width: 100%;
    }

    .header-screen {
        display: none;
    }

    .header-tagline {
        font-size: 1.2rem;
        line-height: 1.5em;
    }
}

@media screen and (min-width: 751px) {

}
