/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.lightbox figure {
    max-width: 90%;
    text-align: center;
    color: white;
}

.lightbox img {
    max-width: 100%;
    max-height: 80vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.lightbox.open {
    display: grid; /* Show the lightbox when active */
}

#lightbox-caption h2 {
    font-size: 1.8rem;
}

#lightbox-caption p {
    font-size: 1rem;
    line-height: 1.5rem;
    /* color: green; */
}

/* Media queries for responsiveness */
@media (max-width: 800px) {
    .lightbox img {
        max-width: 100%;
        max-height: 100vh;
    }

    .lightbox figure {
        text-align: left;
    }
}
