
.menu-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-toggle {
    display: none;
}

.menu-btn {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem auto;
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 0.4rem auto;
    background-color: #333;
    transition: 0.4s;
}

.menu-btn:hover span {
    opacity: 0.7;
}

.mega-menu {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-toggle:checked~.mega-menu {
    display: grid;
}

/* Simplified grid for cards */
.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
    transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.3rem);
}

.card img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    background-color: #f0f0f0;
    margin-bottom: 0.5rem;
    /* justify-self: center; */
}

.card-content {
    display: grid;
    padding: 1rem;
    justify-items: center;
}

.card h3 {
    margin-top: 0;
}

.card p {
    font-size: 0.8rem;
    line-height: 1.4;
}

.card a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1024px) {
    .mega-menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .card img {
        width: 15vw;
        height: 15vw;
    }
}

@media (max-width: 680px) {
    .mega-menu {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card img {
        width: 30vw;
        height: 30vw;
    }
}