nav {
    font-family: "Open Sans", gotham, arial, helvetica, san-serif;
    font-weight: 800;
    font-size: 100%;
    margin: -10px 0 0 0;
    padding: 15px 2%;
    background-color: #893673;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 100;
    width: 100%;
    }
    
    nav:after {
    content: "";
    display: table;
    clear: both;
    }
    nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    }
    nav ul li {
    margin: 0px;
    display: block;
    float: left;
    }
    nav a {
    display: inline-block;
    margin: 5px 3px 1px 3px;
    padding: 5px 15px;
    color: #fff;
    border: black 1px solid;
    border-radius: 5px;
    font-size: 100%;
    text-decoration: none; 
    }
    nav a:hover { 
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #ba4909;
    }
    nav li:hover { 
    color: #fff; 
    }
    li > a:after { 
    content: none; 
    }
    .toggle, [id^=drop] {
    display: none;
    }
    li > a:only-child:after { 
    content: ''; 
    }
    .nav-sticky { 
    position: sticky; 
    top: 0;
    max-width: 100%;
    }
    
    @media all and (max-width : 900px) {
    nav { 
    margin: -6px 0 0 0;
    }	
        
    }
        
    @media all and (max-width : 600px) {
    
    nav { 
    margin: 0;
    padding-top: 10px;
    }
    .toggle + a,
    .menu { 
    display: none; 
    }
    .toggle {
    text-align: left;
    display: block;
    background-color: #893673;
    padding: 2px 5%;
    color: #fff;
    font-size: 100%;
    line-height: 30px;
    text-decoration: none;
    border: none;
    margin: 10px 0;
    }
    .toggle:hover { 
    color: #d5916b; 
    }
    [id^=drop]:checked + ul { 
    display: block; 
    }
    nav ul li {
    display: block;
    width: 94%;
    }
    nav ul .toggle,
    nav ul a { 
    text-align: left;
    padding: 5px 5%; 
    line-height: 27px;
    width: 94%;
    }
    nav ul .toggle,
    nav ul a:hover { 
    text-align: left;
    padding: 5px 5%; 
    line-height: 27px;
    }
    nav a:hover { background-color: #ba4909;}
    
    }