#nav-container {
    display: block; /* If you don't need flexbox for this, use block */
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2000;
}

/* Main Navigation Styles */
nav {
    font-family: 'Merriweather', 'Georgia', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0 2%;
    background-color: var(--accent-color-2);
    position: sticky;
    top: 0;
    z-index: 2000; /* Keep it above other elements */
    width: 100%;
    /* No explicit height needed */
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav a {
    padding: 1em 1em;
    margin: 0;
    color: var(--nav-reverse);
    text-decoration: none;
    font-size: 1rem;
    line-height: 3.5rem;
}

nav a:hover {
    background-color: var(--hover-2);
    color: var(--nav-reverse);
}

/* Mobile Menu Toggle */
.toggle,    
#drop {
    display: none;
}

/* Sticky Menu */
.nav-sticky {
    position: sticky;
    top: 0;
    max-width: 100%;
}

/* Responsive Styles */
@media all and (max-width: 750px) {

    /* Display Toggle for Mobile */
    .toggle {
        display: block;
        padding: 0.2rem 5%;
        background-color: var(--accent-color-2);
        color: var(--nav-reverse);
        text-align: left;
        margin: 0.65rem 0;
        border: none;
    }

    .toggle:hover {
        color: var(--hover-1);
    }

    /* Show Menu When Checkbox is Checked */
    #drop:checked + ul {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        padding: 0.3rem 5%;
        text-align: left;
        background-color: var(--accent-color-2);
        line-height: 1.8rem;
    }

    nav a:hover {
        background-color: var(--hover-5);
    }
}
