/* tagline */
.tagline {
    margin: 1em 0;
    padding: 0 2em;
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25em;
    color: var(--accent-color-1);
    text-align: center;
}

/* Accordion container */
.accordion {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1200px;
    min-width: 900px;
    display: grid;
    justify-items: center;
}

/* Accordion details */
.accordion details {
    margin: 2em;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    transition: max-width 0.5s ease;
    border-radius: 0.3rem;
}

accordiong details:first-of-type {
    margin-top: 0;
}

.accordion details[open] {
    max-width: 1200px;
    transition: max-width 0.5s ease;
}

/* Accordion summary */
.accordion summary {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    line-height: 1.4;
    column-gap: 0.3rem;
    scroll-margin-top: 0rem;
}

.summary-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    color: #000;
}

.accordion details[open] summary {
    background-color: #a05e8f;
    background-image: linear-gradient(to bottom right, #a05e8f, #d8743a);
}

.accordion details[open] summary:hover {
    background-color: #cfaec7;
    background-image: linear-gradient(to bottom right, #cfaec7, #ebb99d);
}

.accordion details:not([open]):hover summary {
    background-color: #a05e8f;
    background-image: linear-gradient(to bottom right, #a05e8f, #d8743a);
}

.accordion details:not([open]) #plus-icon {
    display: inline-block;
    display: transform 0.5s ease, content 0.5s ease;
}

.accordion details:not([open]) #minus-icon {
    display: none;
    display: transform 0.5s ease, content 0.5s ease;
}

.accordion details[open] #plus-icon {
    display: none;
    display: transform 0.5s ease, content 0.5s ease;
}

.accordion details[open] #minus-icon {
    display: inline-block;
    display: transform 0.5s ease, content 0.5s ease;
}


/* Summary text */
.accordion .summary-text {
    margin: 0;
    grid-column: 2;
    /* Places the text in the second column */
    align-self: center;
    /* Center text vertically */
}

/* Accordion summary thumbnail */
.accordion summary img {
    width: 164px;
    height: auto;
    object-fit: cover;
    margin-left: 0.5rem;
    border: 1px solid black;
    grid-column: 3;
    /* Places the image in the third column */
    align-self: center;
    /* Center image vertically */
}

/* Hide the thumbnail when details are open */
.accordion details[open] summary img {
    visibility: hidden;
}

/* Accordion details content */
.accordion .details-content {
    display: grid;
    grid-template-columns: 45% 45%;
    align-items: start;
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    gap: 10%;
    width: 100%;
}

.accordion .details-text {
    margin: 0;
    font-size: 1.1rem;
}

.accordion .details-text h2 {
    color: #df4009;
    line-height: 1.2em;
}

.accordion .details-figure {
    display: block;
    width: 100%;
    border: 0.5px solid #999;
    margin: 1.5rem 0 0 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #fff;
}

/************      Figcaption styling      *******************/
.accordion figcaption {
    padding: 1rem;

    p {
        font-family: "Merriweather", serif;
        font-size: 0.9rem;
        line-height: 1.3rem;
        padding: 0;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.5rem;
        text-align: center;
    }


    a:link {
        color: purple;
        text-decoration: underline;
    }

    a:visited {
        color: purple;
        text-decoration: underline;
    }

    a:hover {
        color: darkblue;
        text-decoration: underline;
    }

    a:active {
        color: darkblue;
        text-decoration: underline;
    }
}


/* Media queries for responsiveness */
@media (max-width: 800px) {

    .tagline {
        font-size: 1.25rem;
        line-height: 1.25em;
        padding: 0 1em;
    }

    .accordion {
        padding: 0 0.5rem;
        max-width: 100vw;
        min-width: 100vw;
    }

    .accordion summary {
        display: grid;
        grid-template-columns: 1fr;
        /* Stack elements vertically */
        grid-template-rows: auto auto auto;
        /* Define rows for each item */
        text-align: center;
        /* Center align text */
        padding: 0;
        margin: 0;
        column-gap: 0;
        row-gap: 0;
    }

    .summary-icon {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        color: var(--hover-1);
        margin: 0.5rem 0;
        padding: 0;
        width: 3rem;
        height: 3rem;
    }

    .accordion summary img {
        width: 100%;
        /* max-width: 164px; */
        grid-column: 1;
        /* Move the image to the top */
        grid-row: 1;
        /* margin: 1rem auto 1.5rem auto; */
        margin: 0;
        padding: 0;
        justify-self: center;
        border: none;
    }

    .accordion details[open] summary img {
        display: none;
    }

    .accordion .summary-text {
        grid-column: 1;
        /* Move text below the image */
        grid-row: 2;
        margin: 1em 1em 0em 1em;
        /* Tighten space below the text */
        font-size: 1.4rem;
        line-height: 1.5em;
        /* padding: 1em; */
    }

    .accordion details {
        display: grid;
        width: 100%;
        border: 0.1rem solid black;
        margin: 0;
        padding: 0;
        border-radius: 0.15rem;
    }

    .accordion .details-content {
        display: grid;
        grid-template-columns: 1fr;
        /* Stack elements vertically */
        grid-template-rows: auto auto;
        /* Define rows for each item */
        gap: 0;
        padding: 0.5rem 1rem 0.5rem 1rem
    }

    .accordion .details-content ul {
        padding-left: 1em;
    }

    .accordion .details-figure {
        grid-column: 1;
        grid-row: 2;
        /* Move the figure above the text */
        width: 75%;
        /* Set figure to 75% width */
        margin: 2rem auto 1rem auto;
        /* Center the figure horizontally with a bottom margin */
        text-align: left;
        /* Align caption text to the left */
    }

    .accordion .details-text {
        grid-column: 1;
        grid-row: 1;
        /* Move text below the figure */
        margin: 0;
    }

    .accordion .details-figure img {
        width: 100%;
        justify-self: center;
        /* Center the image within the figure */
    }
}

@media (max-width: 480px) {
    .accordion .summary-text {
        font-size: 0.9rem;
        padding: 0;
    }

    .accordion .details-text {
        font-size: 1rem;
    }
}
