RewriteEngine On

# For the root URL (domain.com/)
RewriteRule ^$ /index.html [L]

# For any other URL (e.g., domain.com/page) but serve index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

