.banner {
  display: flex;
  flex-direction: column; /* Keep content vertical within banner */
  align-items: left; /* Center align all content */
  text-align: left; /* Center text content */
  padding-top: 2vw; /* Add padding for spacing */
}

.header-image-container {
  display: flex;
  justify-content: left; /* Center images horizontally */
  gap: 2em; /* Add space between the two images */
  width: 100%; /* Ensure it spans the full width */
}

.image-fluid {
  margin: 0;
  max-width: 100%;
  height: 10vw;
}

#header-tagline {
  margin-top: 1em; /* Add space above the tagline */
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
}


#footer-tagline {
  font-family: 'Merriweather', serif;
  font-size: 1.2vw;
  text-align: center;
}
