/* CSS Reset for Consistency Across Browsers */

/* Universal reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body reset */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; /* You can change this to your preferred font */
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

/* Remove default margins */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
    margin: 0;
    padding: 0;
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Reset headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

/* Remove blockquote indentation */
blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

/* Table reset */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

/* Remove input, textarea, and button styles */
input,
textarea,
button,
select {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Anchor reset */
a {
    text-decoration: none;
    color: inherit;
}

/* Image reset */
img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 0;
}

/* Reset the figure element */
figure {
    margin: 0;
}

/* Reset the fieldset element */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Remove built-in form element styles in modern browsers */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

/* Remove default button background color */
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Clear floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Reset hidden attribute */
[hidden] {
    display: none !important;
}

/* Reset for responsive media */
@media only screen and (max-width: 600px) {
    img {
        width: 100%;
    }
}
