/* Global styling */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    box-sizing: border-box;
}

/* Accordion styling */
.accordion {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1024px;
}

.accordion-item {
    border: 1px solid black;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    transition: width 0.3s ease;
    border-radius: 2.5px;
}

.accordion-item[open] {
    width: 100%;
}

.accordion-item-header {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 0.5em;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.4;
    border-radius: 2.5px;
}

.accordion-item-header:hover {
    background-color: #ddd;
}

.accordion-item[open] .accordion-item-header {
    background-color: #ddd;
}

/* Show the thumbnail when details are closed */
.accordion-item:not([open])>summary .accordion-summary-thumbnail {
    display: inline-block;
}

/* Hide the thumbnail when details are open */
.accordion-item[open]>summary .accordion-summary-thumbnail {
    display: none;
}

/* Updated grid layout */
.accordion-item-content {
    display: grid;
    grid-template-columns: 45% 45%; /* Two columns: Text 45%, Image 45% */
    align-items: start;
    padding: 0.5em; /* Adjust padding to prevent overflow */
    background-color: #f9f9f9;
    gap: 10%; /* 10% gap between the two columns */
    /* border-radius: 0 0 2.5px 2.5px; */
    width: 100%;
}

.accordion-item-text {
    margin: 0;
    font-size: 1.1em;
}

.accordion-item-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}


.accordion-item-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 2.5px; */
}

.accordion-summary-thumbnail {
    width: 6em;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    align-self: flex-start;
    border-radius: 2.5px;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .accordion-item-content {
        grid-template-columns: 50% 50%; /* Adjust grid for smaller screens */
        gap: 0;
    }
}

@media (max-width: 768px) {
    .accordion-item {
        width: 100%;
    }

    .accordion-item-content {
        grid-template-columns: 100%; /* Stack content vertically */
        gap: 0;
    }

    .accordion-item-image-container {
        justify-content: center;
    }

    .accordion-item-image {
        width: 100%;
        margin-top: 1em;
        max-width: 90em;
    }
}
