{{#homepage_accordions}}
<details>
    <summary>
        <p class="summary-text">{{{summary_text}}}</p>
        <img src="{{{thumbnail_image}}}" alt="{{{thumbnail_alt_text}}}" />
    </summary>
    <div class="details-content">
        <div class="details-text">
            {{{main_text}}}
        </div>
        <figure class="details-figure">
            <picture>
                <img src="{{{main_image}}}" alt="{{{main_image_alt_text}}}" />
            </picture>
            <figcaption>
                {{{fig_caption_text}}}
            </figcaption>
        </figure>
    </div>
</details>
{{/homepage_accordions}}