<!-- The container where the rendered accordion will be placed -->
    {{#data}}
    <details>
        <summary>

            <svg class="summary-icon" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path 
                    id="plus-icon" 
                    class="summary-icon"
                    d="m416 208h-144v-144c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144h-144c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-144h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />

                <path
                    id="minus-icon"
                    class="summary-icon"
                    d="m416 208h-384c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" />
            </svg>

            <p class="summary-text">{{{summary_text}}}</p>
            <img src="{{{thumbnail_image}}}" alt="{{{thumbnail_alt_text}}}" />
        </summary>
        <div class="details-content show show-start">
            <div class="details-text">
                {{{main_text}}}
            </div>
            <figure class="details-figure lightbox-trigger">
                <picture>
                    <img src="{{{main_image}}}" alt="{{{main_image_alt_text}}}" />
                </picture>
                <figcaption>{{{fig_caption}}}</figcaption>
            </figure>
        </div>
        <div class="close-details">Close</div>
    </details>
    {{/data}}
