<section class="info-page">
    <div class="main-content">
        <h1 class="teal">{{data.info_heading}}</h1>
        <div class="outline-box">
            <p class="text-bold-125">Do we need this?</p>
            <ul>
                {{#data.info_items}}
                <li>{{{.}}}</li>
                {{/data.info_items}}
            </ul>
        </div>
    </div>

    <div class="watercolor">
        <figure>
            <img class="image-fluid" src="{{data.main_image}}" alt="{{data.main_image_alt_text}}" />
        </figure>
    </div>
</section>